body {
    color: white;
    background: url('img/background.jpg');
}

.main {
    font-size: 30px;
    text-shadow: 0px 0px 10px black, 0px 0px 15px white;
    margin-top:50px;
}

.nextlevel {
    float: center;
    width: 455px;
    height: 700px;
    margin-right: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    cursor: pointer;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.nextlevel:hover {
    box-shadow: 0px 0px 15px white;
}